.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

input {
  border-radius: 1.5rem;
  font-size: .9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.8rem;
  background-color: #f7f9fc;
  border-color: #e4e9f2;
  color: #222b45;
  border-style: solid;
  border-width: 1px;
  -webkit-appearance: none;
  appearance: none;
  min-width: 400px;
}

.container {
  position: relative;
}

.no-suggestions {
  padding: 0.5rem;
  position: absolute;
  font-size: 14px;
}

.suggestions {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
}

.suggestions li {
  padding: 0.5rem;
  font-size: 16px;
}

.suggestions li:hover {
  background-color: #00000029;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}